##### Kristie Kooken 
##### Project 3
 web scraping & prep for merging with other data

In [1]:
# loading libraries 

import numpy as np
import pandas as pd

import statistics 

import matplotlib.pyplot as plt
from bs4 import BeautifulSoup

import requests

In [2]:
# first few steps - I am following the text book example from wrangling
# creating a variable for wiki info 

wiki_info = "https://en.wikipedia.org/wiki/Reference_Daily_Intake"

In [3]:
# using requests to get the info to the created variable response

response = requests.get(wiki_info)

In [4]:
type(response)

requests.models.Response

In [5]:
# using code to determine if the request was a success or not 
def status_ck(r):
        if r.status_code == 200:
            print("Success")
            return 1
        else: 
            print("Failed")
            return -1
        
        
status_ck(response)

Success

1

In [6]:
# checking the encoding

def encoding_ck (r):
    return (r.encoding)

In [7]:
encoding_ck(response)

'UTF-8'

In [8]:
# using the encoding and creating a variable contents 
def decode_content (r, encoding):
    return (r.content.decode(encoding))

contents = decode_content(response, encoding_ck(response))

In [9]:
# what is contents? 

type(contents)

str

In [10]:
# parsing contents with beautiful soup 

soup = BeautifulSoup(contents, 'html.parser')

In [11]:
# determining how many tables are on the page, my tables are small, I already know but it is good to confirm

all_tables = soup.find_all('table')
print("Total number of Tables --- {}".format(len(all_tables)))

Total number of Tables --- 3

For webscrapping, initially I tried to follow the homework example in order to bring the data into a df. Then I gave up after trying for hours and reverted to the 'pd.read_html' function though I recall that this was not the best way because it is possible that a table is not in readable always. Then I came across a TDS article that suggested something where you were scrapping but less complication that the Wrangling book homework activity. My tables are relatively simple and better yet, I understood the suggested method better. I really don't understand how to get to the different layers very well at this stage or why nested functions for soup work or don't work.

In [12]:
# I am hoping this sheds light on the class activity - somehow the first table seems different than the 2nd or 3rd 
# I am not sure I would use the 2nd or 3rd table but I wanted to at least see them 
print('Classes of each table:')
for table in soup.find_all('table'):
    print(table.get('class'))

Classes of each table:
['wikitable']
['wikitable']
['wikitable']

In [13]:
# Creating list with all tables
tables = soup.find_all('table')
tables

[<table class="wikitable">
 <tbody><tr>
 <th>Nutrient
 </th>
 <th>DV<sup class="reference" id="cite_ref-9"><a href="#cite_note-9">[9]</a></sup>
 </th></tr>
 <tr>
 <td>Total <a href="/wiki/Fat" title="Fat">fat</a>
 </td>
 <td>65 <a href="/wiki/Gram" title="Gram">g</a> increased to 72 g
 </td></tr>
 <tr>
 <td><a class="mw-redirect" href="/wiki/Saturated_fatty_acid" title="Saturated fatty acid">Saturated fatty acids</a>
 </td>
 <td>20 g stays unchanged
 </td></tr>
 <tr>
 <td><a href="/wiki/Cholesterol" title="Cholesterol">Cholesterol</a>
 </td>
 <td>300 <a class="mw-redirect" href="/wiki/Milligram" title="Milligram">mg</a> stays unchanged
 </td></tr>
 <tr>
 <td><a href="/wiki/Sodium" title="Sodium">Sodium</a>
 </td>
 <td>2400 mg decreased to 2300 mg
 </td></tr>
 <tr>
 <td><a href="/wiki/Potassium_in_biology" title="Potassium in biology">Potassium</a>
 </td>
 <td>3500 mg increased to 4700 mg
 </td></tr>
 <tr>
 <td>Total <a href="/wiki/Carbohydrate" title="Carbohydrate">carbohydrate</a>
 </td>
 <td>300 g decreased to 275 g
 </td></tr>
 <tr>
 <td><a class="mw-redirect" href="/wiki/Added_sugars" title="Added sugars">Added sugars</a>
 </td>
 <td>newly established at 50 g
 </td></tr>
 <tr>
 <td><a href="/wiki/Dietary_fiber" title="Dietary fiber">Dietary fiber</a>
 </td>
 <td>25 g increased to 28 g<sup class="reference" id="cite_ref-10"><a href="#cite_note-10">[a]</a></sup>
 </td></tr>
 <tr>
 <td><a href="/wiki/Protein_(nutrient)" title="Protein (nutrient)">Protein</a>
 </td>
 <td>50 g stays unchanged<sup class="reference" id="cite_ref-11"><a href="#cite_note-11">[b]</a></sup>
 </td></tr></tbody></table>,
 <table class="wikitable">
 <tbody><tr>
 <th>Nutrient
 </th>
 <th>Old RDI
 </th>
 <th>New RDI
 </th></tr>
 <tr>
 <td><a href="/wiki/Vitamin_A" title="Vitamin A">Vitamin A</a></td>
 <td>900 <a href="/wiki/Microgram" title="Microgram">μg</a></td>
 <td>900 μg
 </td></tr>
 <tr>
 <td><a class="mw-redirect" href="/wiki/Ascorbic_acid" title="Ascorbic acid">Ascorbic acid</a> (<a href="/wiki/Vitamin_C" title="Vitamin C">vitamin C</a>)</td>
 <td>60 <a class="mw-redirect" href="/wiki/Milligram" title="Milligram">mg</a></td>
 <td>90 mg
 </td></tr>
 <tr>
 <td><a href="/wiki/Cholecalciferol" title="Cholecalciferol">Cholecalciferol</a> (<a href="/wiki/Vitamin_D" title="Vitamin D">vitamin D</a>)</td>
 <td>400 <a href="/wiki/International_unit" title="International unit">IU</a> (10 <a href="/wiki/Microgram" title="Microgram">μg</a>)</td>
 <td>20 μg
 </td></tr>
 <tr>
 <td><a href="/wiki/Tocopherol" title="Tocopherol">Tocopherol</a> (<a href="/wiki/Vitamin_E" title="Vitamin E">vitamin E</a>)</td>
 <td>30 IU</td>
 <td>15 mg
 </td></tr>
 <tr>
 <td><a href="/wiki/Vitamin_K" title="Vitamin K">Vitamin K</a></td>
 <td>80 <a href="/wiki/Microgram" title="Microgram">μg</a></td>
 <td>120 μg
 </td></tr>
 <tr>
 <td><a class="mw-redirect" href="/wiki/Thiamin" title="Thiamin">Thiamin</a> (<a class="mw-redirect" href="/wiki/Vitamin_B1" title="Vitamin B1">vitamin B1</a>)</td>
 <td>1.5 mg</td>
 <td>1.2 mg
 </td></tr>
 <tr>
 <td><a href="/wiki/Riboflavin" title="Riboflavin">Riboflavin</a> (<a class="mw-redirect" href="/wiki/Vitamin_B2" title="Vitamin B2">vitamin B2</a>)</td>
 <td>1.7 mg</td>
 <td>1.3 mg
 </td></tr>
 <tr>
 <td><a class="mw-redirect" href="/wiki/Niacin_(nutrient)" title="Niacin (nutrient)">Niacin</a> (<a href="/wiki/Vitamin_B3" title="Vitamin B3">vitamin B3</a>)</td>
 <td>20 mg</td>
 <td>16 mg
 </td></tr>
 <tr>
 <td><a href="/wiki/Pantothenic_acid" title="Pantothenic acid">Pantothenic acid</a> (<a class="mw-redirect" href="/wiki/Vitamin_B5" title="Vitamin B5">vitamin B5</a>)</td>
 <td>10 mg</td>
 <td>5 mg
 </td></tr>
 <tr>
 <td><a href="/wiki/Pyridoxine" title="Pyridoxine">Pyridoxine</a> (<a href="/wiki/Vitamin_B6" title="Vitamin B6">vitamin B6</a>)</td>
 <td>2 mg</td>
 <td>1.7 mg
 </td></tr>
 <tr>
 <td><a href="/wiki/Biotin" title="Biotin">Biotin</a> (<a class="mw-redirect" href="/wiki/Vitamin_B7" title="Vitamin B7">vitamin B7</a>)</td>
 <td>300 μg</td>
 <td>30 μg
 </td></tr>
 <tr>
 <td><a href="/wiki/Folate" title="Folate">Folate</a> (<a class="mw-redirect" href="/wiki/Vitamin_B9" title="Vitamin B9">vitamin B9</a>)</td>
 <td>400 μg</td>
 <td>400 μg
 </td></tr>
 <tr>
 <td><a class="mw-redirect" href="/wiki/Cobalamine" title="Cobalamine">Cobalamine</a> (<a href="/wiki/Vitamin_B12" title="Vitamin B12">vitamin B12</a>)</td>
 <td>6 μg</td>
 <td>2.4 μg
 </td></tr>
 <tr>
 <td><a href="/wiki/Choline" title="Choline">Choline</a></td>
 <td>—</td>
 <td>550 mg
 </td></tr></tbody></table>,
 <table class="wikitable">
 <tbody><tr>
 <th>Nutrient
 </th>
 <th>Old RDI
 </th>
 <th>New RDI
 </th></tr>
 <tr>
 <td><a href="/wiki/Calcium_in_biology" title="Calcium in biology">Calcium</a></td>
 <td>1000 mg</td>
 <td>1300 mg
 </td></tr>
 <tr>
 <td><a href="/wiki/Chromium#Dietary_recommendations" title="Chromium">Chromium</a></td>
 <td>120 μg</td>
 <td>35 μg
 </td></tr>
 <tr>
 <td><a href="/wiki/Copper" title="Copper">Copper</a></td>
 <td>2000 μg</td>
 <td>900 μg
 </td></tr>
 <tr>
 <td><a href="/wiki/Iodine_in_biology" title="Iodine in biology">Iodine</a></td>
 <td>150 μg</td>
 <td>150 μg
 </td></tr>
 <tr>
 <td><a href="/wiki/Iron" title="Iron">Iron</a></td>
 <td>18 mg</td>
 <td>18 mg
 </td></tr>
 <tr>
 <td><a href="/wiki/Magnesium_in_biology" title="Magnesium in biology">Magnesium</a></td>
 <td>400 mg</td>
 <td>420 mg
 </td></tr>
 <tr>
 <td><a href="/wiki/Manganese" title="Manganese">Manganese</a></td>
 <td>2 mg</td>
 <td>2.3 mg
 </td></tr>
 <tr>
 <td><a href="/wiki/Molybdenum" title="Molybdenum">Molybdenum</a></td>
 <td>75 μg</td>
 <td>45 μg
 </td></tr>
 <tr>
 <td><a href="/wiki/Phosphorus" title="Phosphorus">Phosphorus</a></td>
 <td>1000 mg</td>
 <td>1250 mg
 </td></tr>
 <tr>
 <td><a href="/wiki/Selenium_in_biology" title="Selenium in biology">Selenium</a></td>
 <td>70 μg</td>
 <td>55 μg
 </td></tr>
 <tr>
 <td><a href="/wiki/Zinc" title="Zinc">Zinc</a></td>
 <td>15 mg</td>
 <td>11 mg
 </td></tr>
 <tr>
 <td><a href="/wiki/Potassium_in_biology" title="Potassium in biology">Potassium</a>
 </td>
 <td>3.5 g
 </td>
 <td>4.7 g
 </td></tr>
 <tr>
 <td><a href="/wiki/Sodium" title="Sodium">Sodium</a>
 </td>
 <td>2.4 g
 </td>
 <td>2.3 g
 </td></tr>
 <tr>
 <td><a href="/wiki/Chloride" title="Chloride">Chloride</a></td>
 <td>3.4 g</td>
 <td>2.3 g
 </td></tr></tbody></table>]

In [14]:
# Looking for the table with the classes 'wikitable'. I am processing the each table individually. Using find as was done 
# here, I get the first table. Below, I used find_all and then indexed to process each table individually. 

table = soup.find('table', class_='wikitable')

In [15]:
table

<table class="wikitable">
<tbody><tr>
<th>Nutrient
</th>
<th>DV<sup class="reference" id="cite_ref-9"><a href="#cite_note-9">[9]</a></sup>
</th></tr>
<tr>
<td>Total <a href="/wiki/Fat" title="Fat">fat</a>
</td>
<td>65 <a href="/wiki/Gram" title="Gram">g</a> increased to 72 g
</td></tr>
<tr>
<td><a class="mw-redirect" href="/wiki/Saturated_fatty_acid" title="Saturated fatty acid">Saturated fatty acids</a>
</td>
<td>20 g stays unchanged
</td></tr>
<tr>
<td><a href="/wiki/Cholesterol" title="Cholesterol">Cholesterol</a>
</td>
<td>300 <a class="mw-redirect" href="/wiki/Milligram" title="Milligram">mg</a> stays unchanged
</td></tr>
<tr>
<td><a href="/wiki/Sodium" title="Sodium">Sodium</a>
</td>
<td>2400 mg decreased to 2300 mg
</td></tr>
<tr>
<td><a href="/wiki/Potassium_in_biology" title="Potassium in biology">Potassium</a>
</td>
<td>3500 mg increased to 4700 mg
</td></tr>
<tr>
<td>Total <a href="/wiki/Carbohydrate" title="Carbohydrate">carbohydrate</a>
</td>
<td>300 g decreased to 275 g
</td></tr>
<tr>
<td><a class="mw-redirect" href="/wiki/Added_sugars" title="Added sugars">Added sugars</a>
</td>
<td>newly established at 50 g
</td></tr>
<tr>
<td><a href="/wiki/Dietary_fiber" title="Dietary fiber">Dietary fiber</a>
</td>
<td>25 g increased to 28 g<sup class="reference" id="cite_ref-10"><a href="#cite_note-10">[a]</a></sup>
</td></tr>
<tr>
<td><a href="/wiki/Protein_(nutrient)" title="Protein (nutrient)">Protein</a>
</td>
<td>50 g stays unchanged<sup class="reference" id="cite_ref-11"><a href="#cite_note-11">[b]</a></sup>
</td></tr></tbody></table>

In [16]:
# Defining of the dataframe
df = pd.DataFrame(columns=['Nutrient', 'DV'])

# Collecting data
for row in table.tbody.find_all('tr'):    
    # Find all data for each column
    columns = row.find_all('td')
      
    if(columns != []):
        Nutrient = columns[0].text.strip()
        DV = columns[1].text.strip()
  

        df = pd.concat([df, pd.DataFrame({'Nutrient': [Nutrient],'DV':[DV]})])
        #df = df.append({'Nutrient': Nutrient,  'DV': DV}, ignore_index=True)
df

                Nutrient                            DV
0              Total fat        65 g increased to 72 g
0  Saturated fatty acids          20 g stays unchanged
0            Cholesterol        300 mg stays unchanged
0                 Sodium  2400 mg decreased to 2300 mg
0              Potassium  3500 mg increased to 4700 mg
0     Total carbohydrate      300 g decreased to 275 g
0           Added sugars     newly established at 50 g
0          Dietary fiber     25 g increased to 28 g[a]
0                Protein       50 g stays unchanged[b]

In [17]:
#  Looking for the table with the classes 'wikitable'
table1 = soup.find_all('table', class_='wikitable')[1]

In [18]:
table1

<table class="wikitable">
<tbody><tr>
<th>Nutrient
</th>
<th>Old RDI
</th>
<th>New RDI
</th></tr>
<tr>
<td><a href="/wiki/Vitamin_A" title="Vitamin A">Vitamin A</a></td>
<td>900 <a href="/wiki/Microgram" title="Microgram">μg</a></td>
<td>900 μg
</td></tr>
<tr>
<td><a class="mw-redirect" href="/wiki/Ascorbic_acid" title="Ascorbic acid">Ascorbic acid</a> (<a href="/wiki/Vitamin_C" title="Vitamin C">vitamin C</a>)</td>
<td>60 <a class="mw-redirect" href="/wiki/Milligram" title="Milligram">mg</a></td>
<td>90 mg
</td></tr>
<tr>
<td><a href="/wiki/Cholecalciferol" title="Cholecalciferol">Cholecalciferol</a> (<a href="/wiki/Vitamin_D" title="Vitamin D">vitamin D</a>)</td>
<td>400 <a href="/wiki/International_unit" title="International unit">IU</a> (10 <a href="/wiki/Microgram" title="Microgram">μg</a>)</td>
<td>20 μg
</td></tr>
<tr>
<td><a href="/wiki/Tocopherol" title="Tocopherol">Tocopherol</a> (<a href="/wiki/Vitamin_E" title="Vitamin E">vitamin E</a>)</td>
<td>30 IU</td>
<td>15 mg
</td></tr>
<tr>
<td><a href="/wiki/Vitamin_K" title="Vitamin K">Vitamin K</a></td>
<td>80 <a href="/wiki/Microgram" title="Microgram">μg</a></td>
<td>120 μg
</td></tr>
<tr>
<td><a class="mw-redirect" href="/wiki/Thiamin" title="Thiamin">Thiamin</a> (<a class="mw-redirect" href="/wiki/Vitamin_B1" title="Vitamin B1">vitamin B1</a>)</td>
<td>1.5 mg</td>
<td>1.2 mg
</td></tr>
<tr>
<td><a href="/wiki/Riboflavin" title="Riboflavin">Riboflavin</a> (<a class="mw-redirect" href="/wiki/Vitamin_B2" title="Vitamin B2">vitamin B2</a>)</td>
<td>1.7 mg</td>
<td>1.3 mg
</td></tr>
<tr>
<td><a class="mw-redirect" href="/wiki/Niacin_(nutrient)" title="Niacin (nutrient)">Niacin</a> (<a href="/wiki/Vitamin_B3" title="Vitamin B3">vitamin B3</a>)</td>
<td>20 mg</td>
<td>16 mg
</td></tr>
<tr>
<td><a href="/wiki/Pantothenic_acid" title="Pantothenic acid">Pantothenic acid</a> (<a class="mw-redirect" href="/wiki/Vitamin_B5" title="Vitamin B5">vitamin B5</a>)</td>
<td>10 mg</td>
<td>5 mg
</td></tr>
<tr>
<td><a href="/wiki/Pyridoxine" title="Pyridoxine">Pyridoxine</a> (<a href="/wiki/Vitamin_B6" title="Vitamin B6">vitamin B6</a>)</td>
<td>2 mg</td>
<td>1.7 mg
</td></tr>
<tr>
<td><a href="/wiki/Biotin" title="Biotin">Biotin</a> (<a class="mw-redirect" href="/wiki/Vitamin_B7" title="Vitamin B7">vitamin B7</a>)</td>
<td>300 μg</td>
<td>30 μg
</td></tr>
<tr>
<td><a href="/wiki/Folate" title="Folate">Folate</a> (<a class="mw-redirect" href="/wiki/Vitamin_B9" title="Vitamin B9">vitamin B9</a>)</td>
<td>400 μg</td>
<td>400 μg
</td></tr>
<tr>
<td><a class="mw-redirect" href="/wiki/Cobalamine" title="Cobalamine">Cobalamine</a> (<a href="/wiki/Vitamin_B12" title="Vitamin B12">vitamin B12</a>)</td>
<td>6 μg</td>
<td>2.4 μg
</td></tr>
<tr>
<td><a href="/wiki/Choline" title="Choline">Choline</a></td>
<td>—</td>
<td>550 mg
</td></tr></tbody></table>

In [19]:
# Defining of the dataframe
df2 = pd.DataFrame(columns=['Nutrient', 'Old_RDI', 'New_RDI'])

# Collecting data
for row in table1.tbody.find_all('tr'):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
        Nutrient = columns[0].text.strip()
        Old_RDI = columns[1].text.strip()
        New_RDI = columns[2].text.strip()

        df2 = pd.concat([df2, pd.DataFrame({'Nutrient': [Nutrient],'Old_RDI':[Old_RDI], 'New_RDI':[New_RDI]})])
        #df2 = df2.append({'Nutrient': Nutrient,  'Old_RDI': Old_RDI, 'New_RDI' : New_RDI}, ignore_index=True)

In [20]:
# looking at the 2nd table (yes in partial amazement as I wasn't sure that my 'solution' would work)
df2.head()

                      Nutrient         Old_RDI New_RDI
0                    Vitamin A          900 μg  900 μg
0    Ascorbic acid (vitamin C)           60 mg   90 mg
0  Cholecalciferol (vitamin D)  400 IU (10 μg)   20 μg
0       Tocopherol (vitamin E)           30 IU   15 mg
0                    Vitamin K           80 μg  120 μg

In [21]:
#  Looking for the table with the classes 'wikitable' - third table 
table2 = soup.find_all('table', class_='wikitable')[2]

In [22]:
# Defining of the dataframe
df3 = pd.DataFrame(columns=['Nutrient', 'Old_RDI', 'New_RDI'])

# Collecting data
for row in table2.tbody.find_all('tr'):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
        Nutrient = columns[0].text.strip()
        Old_RDI = columns[1].text.strip()
        New_RDI = columns[2].text.strip()

        df3 = pd.concat([df3, pd.DataFrame({'Nutrient': [Nutrient],'Old_RDI':[Old_RDI], 'New_RDI':[New_RDI]})])
       # df3 = df3.append({'Nutrient': Nutrient,  'Old_RDI': Old_RDI, 'New_RDI' : New_RDI}, ignore_index=True)

In [23]:
df3.tail()

    Nutrient Old_RDI New_RDI
0   Selenium   70 μg   55 μg
0       Zinc   15 mg   11 mg
0  Potassium   3.5 g   4.7 g
0     Sodium   2.4 g   2.3 g
0   Chloride   3.4 g   2.3 g

In [24]:
# The tables that I have for this aspect of my projects are more simple - thus I will call out each tranformation as I
# may not have very many (in comparison to the flat file or the api)

# Step 1: Replacing headers and dropping unneeded columns and renaming columns

In [25]:
# taking off the units and making these a separate variable, converting to numeric 
df2['RDI_val'] = df2['New_RDI'].str[:-2].apply(float)

df2

                        Nutrient         Old_RDI New_RDI  RDI_val
0                      Vitamin A          900 μg  900 μg    900.0
0      Ascorbic acid (vitamin C)           60 mg   90 mg     90.0
0    Cholecalciferol (vitamin D)  400 IU (10 μg)   20 μg     20.0
0         Tocopherol (vitamin E)           30 IU   15 mg     15.0
0                      Vitamin K           80 μg  120 μg    120.0
0           Thiamin (vitamin B1)          1.5 mg  1.2 mg      1.2
0        Riboflavin (vitamin B2)          1.7 mg  1.3 mg      1.3
0            Niacin (vitamin B3)           20 mg   16 mg     16.0
0  Pantothenic acid (vitamin B5)           10 mg    5 mg      5.0
0        Pyridoxine (vitamin B6)            2 mg  1.7 mg      1.7
0            Biotin (vitamin B7)          300 μg   30 μg     30.0
0            Folate (vitamin B9)          400 μg  400 μg    400.0
0       Cobalamine (vitamin B12)            6 μg  2.4 μg      2.4
0                        Choline               —  550 mg    550.0

In [26]:
# creating a unit variable
df2['RDI_unit'] = df2['New_RDI'].str[-2:]
df2

                        Nutrient         Old_RDI New_RDI  RDI_val RDI_unit
0                      Vitamin A          900 μg  900 μg    900.0       μg
0      Ascorbic acid (vitamin C)           60 mg   90 mg     90.0       mg
0    Cholecalciferol (vitamin D)  400 IU (10 μg)   20 μg     20.0       μg
0         Tocopherol (vitamin E)           30 IU   15 mg     15.0       mg
0                      Vitamin K           80 μg  120 μg    120.0       μg
0           Thiamin (vitamin B1)          1.5 mg  1.2 mg      1.2       mg
0        Riboflavin (vitamin B2)          1.7 mg  1.3 mg      1.3       mg
0            Niacin (vitamin B3)           20 mg   16 mg     16.0       mg
0  Pantothenic acid (vitamin B5)           10 mg    5 mg      5.0       mg
0        Pyridoxine (vitamin B6)            2 mg  1.7 mg      1.7       mg
0            Biotin (vitamin B7)          300 μg   30 μg     30.0       μg
0            Folate (vitamin B9)          400 μg  400 μg    400.0       μg
0       Cobalamine (vitamin B12)            6 μg  2.4 μg      2.4       μg
0                        Choline               —  550 mg    550.0       mg

In [27]:
# taking off the units and making these a separate variable, converting to numeric - 3rd table
df3['RDI_val'] = df3['New_RDI'].str[:-2].apply(float)

df3

     Nutrient  Old_RDI  New_RDI  RDI_val
0     Calcium  1000 mg  1300 mg   1300.0
0    Chromium   120 μg    35 μg     35.0
0      Copper  2000 μg   900 μg    900.0
0      Iodine   150 μg   150 μg    150.0
0        Iron    18 mg    18 mg     18.0
0   Magnesium   400 mg   420 mg    420.0
0   Manganese     2 mg   2.3 mg      2.3
0  Molybdenum    75 μg    45 μg     45.0
0  Phosphorus  1000 mg  1250 mg   1250.0
0    Selenium    70 μg    55 μg     55.0
0        Zinc    15 mg    11 mg     11.0
0   Potassium    3.5 g    4.7 g      4.7
0      Sodium    2.4 g    2.3 g      2.3
0    Chloride    3.4 g    2.3 g      2.3

In [28]:
# creating a unit variable
df3['RDI_unit'] = df3['New_RDI'].str[-2:]
df3

     Nutrient  Old_RDI  New_RDI  RDI_val RDI_unit
0     Calcium  1000 mg  1300 mg   1300.0       mg
0    Chromium   120 μg    35 μg     35.0       μg
0      Copper  2000 μg   900 μg    900.0       μg
0      Iodine   150 μg   150 μg    150.0       μg
0        Iron    18 mg    18 mg     18.0       mg
0   Magnesium   400 mg   420 mg    420.0       mg
0   Manganese     2 mg   2.3 mg      2.3       mg
0  Molybdenum    75 μg    45 μg     45.0       μg
0  Phosphorus  1000 mg  1250 mg   1250.0       mg
0    Selenium    70 μg    55 μg     55.0       μg
0        Zinc    15 mg    11 mg     11.0       mg
0   Potassium    3.5 g    4.7 g      4.7        g
0      Sodium    2.4 g    2.3 g      2.3        g
0    Chloride    3.4 g    2.3 g      2.3        g

In [29]:
# more Step 1 dropping extra variables off which are not needed for this project
df2.drop(['New_RDI','Old_RDI'], axis=1, inplace=True)
df2

                        Nutrient  RDI_val RDI_unit
0                      Vitamin A    900.0       μg
0      Ascorbic acid (vitamin C)     90.0       mg
0    Cholecalciferol (vitamin D)     20.0       μg
0         Tocopherol (vitamin E)     15.0       mg
0                      Vitamin K    120.0       μg
0           Thiamin (vitamin B1)      1.2       mg
0        Riboflavin (vitamin B2)      1.3       mg
0            Niacin (vitamin B3)     16.0       mg
0  Pantothenic acid (vitamin B5)      5.0       mg
0        Pyridoxine (vitamin B6)      1.7       mg
0            Biotin (vitamin B7)     30.0       μg
0            Folate (vitamin B9)    400.0       μg
0       Cobalamine (vitamin B12)      2.4       μg
0                        Choline    550.0       mg

In [30]:
# same here 
df3.drop(['New_RDI','Old_RDI'], axis=1, inplace=True)
df3

     Nutrient  RDI_val RDI_unit
0     Calcium   1300.0       mg
0    Chromium     35.0       μg
0      Copper    900.0       μg
0      Iodine    150.0       μg
0        Iron     18.0       mg
0   Magnesium    420.0       mg
0   Manganese      2.3       mg
0  Molybdenum     45.0       μg
0  Phosphorus   1250.0       mg
0    Selenium     55.0       μg
0        Zinc     11.0       mg
0   Potassium      4.7        g
0      Sodium      2.3        g
0    Chloride      2.3        g

In [31]:
# step 2 - transforming values for first table 

df

                Nutrient                            DV
0              Total fat        65 g increased to 72 g
0  Saturated fatty acids          20 g stays unchanged
0            Cholesterol        300 mg stays unchanged
0                 Sodium  2400 mg decreased to 2300 mg
0              Potassium  3500 mg increased to 4700 mg
0     Total carbohydrate      300 g decreased to 275 g
0           Added sugars     newly established at 50 g
0          Dietary fiber     25 g increased to 28 g[a]
0                Protein       50 g stays unchanged[b]

In [32]:
# mapping the before and current (or new) value to the current value only
r_mapping = {'65 g increased to 72 g':'72 g',
             '20 g stays unchanged':'20 g',
             '300 mg stays unchanged':'300 mg',
             '2400 mg decreased to 2300 mg':'2300 mg',
             '3500 mg increased to 4700 mg':'4700 mg',
             '300 g decreased to 275 g': '275 g',
             'newly established at 50 g': '50 g',
             '25 g increased to 28 g[a]': '28 g',
             '50 g stays unchanged[b]': '50 g'
             }

In [33]:
# there is something in the field and I cannot remove it - I tried a few different ways - not sure - resorting to the next step
# this is not working as expected

df = df.assign(Curr_DV = df['DV'].str.strip().replace('"', '').replace ("\n", "").map(r_mapping))
df

                Nutrient                            DV Curr_DV
0              Total fat        65 g increased to 72 g    72 g
0  Saturated fatty acids          20 g stays unchanged    20 g
0            Cholesterol        300 mg stays unchanged  300 mg
0                 Sodium  2400 mg decreased to 2300 mg     NaN
0              Potassium  3500 mg increased to 4700 mg     NaN
0     Total carbohydrate      300 g decreased to 275 g   275 g
0           Added sugars     newly established at 50 g    50 g
0          Dietary fiber     25 g increased to 28 g[a]    28 g
0                Protein       50 g stays unchanged[b]    50 g

In [34]:
# recoding a column based on another column instead of the previous method 

df["Curr_DV"] = "72 g"
df.loc[df["Nutrient"] == 'Saturated fatty acids', "Curr_DV"] = "20 g"
df.loc[df["Nutrient"] == 'Cholesterol', "Curr_DV"] = "300 mg"
df.loc[df["Nutrient"] == 'Sodium', "Curr_DV"] = "2300 mg"
df.loc[df["Nutrient"] == 'Potassium', "Curr_DV"] = "3500 mg"
df.loc[df["Nutrient"] == 'Total carbohydrate', "Curr_DV"] = "275 mg"
df.loc[df["Nutrient"] == 'Added sugars', "Curr_DV"] = "50 mg"
df.loc[df["Nutrient"] == 'Dietary fiber', "Curr_DV"] = "28 mg"
df.loc[df["Nutrient"] == 'Protein', "Curr_DV"] = "50 mg"
df

                Nutrient                            DV  Curr_DV
0              Total fat        65 g increased to 72 g     72 g
0  Saturated fatty acids          20 g stays unchanged     20 g
0            Cholesterol        300 mg stays unchanged   300 mg
0                 Sodium  2400 mg decreased to 2300 mg  2300 mg
0              Potassium  3500 mg increased to 4700 mg  3500 mg
0     Total carbohydrate      300 g decreased to 275 g   275 mg
0           Added sugars     newly established at 50 g    50 mg
0          Dietary fiber     25 g increased to 28 g[a]    28 mg
0                Protein       50 g stays unchanged[b]    50 mg

In [35]:
# taking off the units and making these a separate variable, converting to numeric - now on first table
df['DV_val'] = df['Curr_DV'].str[:-2].apply(float)

df

                Nutrient                            DV  Curr_DV  DV_val
0              Total fat        65 g increased to 72 g     72 g    72.0
0  Saturated fatty acids          20 g stays unchanged     20 g    20.0
0            Cholesterol        300 mg stays unchanged   300 mg   300.0
0                 Sodium  2400 mg decreased to 2300 mg  2300 mg  2300.0
0              Potassium  3500 mg increased to 4700 mg  3500 mg  3500.0
0     Total carbohydrate      300 g decreased to 275 g   275 mg   275.0
0           Added sugars     newly established at 50 g    50 mg    50.0
0          Dietary fiber     25 g increased to 28 g[a]    28 mg    28.0
0                Protein       50 g stays unchanged[b]    50 mg    50.0

In [36]:
# creating a unit variable
df['DV_unit'] = df['Curr_DV'].str[-2:]
df

,Nutrient,DV,Curr_DV,DV_val,DV_unit
0,Total fat,65 g increased to 72 g,72 g,72.0,g
0,Saturated fatty acids,20 g stays unchanged,20 g,20.0,g
0,Cholesterol,300 mg stays unchanged,300 mg,300.0,mg
0,Sodium,2400 mg decreased to 2300 mg,2300 mg,2300.0,mg
0,Potassium,3500 mg increased to 4700 mg,3500 mg,3500.0,mg
0,Total carbohydrate,300 g decreased to 275 g,275 mg,275.0,mg
0,Added sugars,newly established at 50 g,50 mg,50.0,mg
0,Dietary fiber,25 g increased to 28 g[a],28 mg,28.0,mg
0,Protein,50 g stays unchanged[b],50 mg,50.0,mg

In [37]:
# same here 
df.drop(['DV','Curr_DV'], axis=1, inplace=True)
df

                Nutrient  DV_val DV_unit
0              Total fat    72.0       g
0  Saturated fatty acids    20.0       g
0            Cholesterol   300.0      mg
0                 Sodium  2300.0      mg
0              Potassium  3500.0      mg
0     Total carbohydrate   275.0      mg
0           Added sugars    50.0      mg
0          Dietary fiber    28.0      mg
0                Protein    50.0      mg

In [38]:
# step 3 - transpose the data as it will be used as columns 
# using the column nutrient to be the index so that when it is tranposed - it will be easier (or thats the plan)

dfn = df.set_index('Nutrient')
dfn

                       DV_val DV_unit
Nutrient
Total fat                72.0       g
Saturated fatty acids    20.0       g
Cholesterol             300.0      mg
Sodium                 2300.0      mg
Potassium              3500.0      mg
Total carbohydrate      275.0      mg
Added sugars             50.0      mg
Dietary fiber            28.0      mg
Protein                  50.0      mg

In [39]:
# transpose first table

dft = dfn.transpose()
dft

Nutrient,Total fat,Saturated fatty acids,Cholesterol,Sodium,Potassium,Total carbohydrate,Added sugars,Dietary fiber,Protein
DV_val,72.0,20.0,300.0,2300.0,3500.0,275.0,50.0,28.0,50.0
DV_unit,g,g,mg,mg,mg,mg,mg,mg,mg

In [40]:
# transpose second table 
df2n = df2.set_index('Nutrient')
df2n

                               RDI_val RDI_unit
Nutrient
Vitamin A                        900.0       μg
Ascorbic acid (vitamin C)         90.0       mg
Cholecalciferol (vitamin D)       20.0       μg
Tocopherol (vitamin E)            15.0       mg
Vitamin K                        120.0       μg
Thiamin (vitamin B1)               1.2       mg
Riboflavin (vitamin B2)            1.3       mg
Niacin (vitamin B3)               16.0       mg
Pantothenic acid (vitamin B5)      5.0       mg
Pyridoxine (vitamin B6)            1.7       mg
Biotin (vitamin B7)               30.0       μg
Folate (vitamin B9)              400.0       μg
Cobalamine (vitamin B12)           2.4       μg
Choline                          550.0       mg

In [41]:
# transpose second table

df2t = df2n.transpose()
df2t

Nutrient,Vitamin A,Ascorbic acid (vitamin C),Cholecalciferol (vitamin D),Tocopherol (vitamin E),Vitamin K,Thiamin (vitamin B1),Riboflavin (vitamin B2),Niacin (vitamin B3),Pantothenic acid (vitamin B5),Pyridoxine (vitamin B6),Biotin (vitamin B7),Folate (vitamin B9),Cobalamine (vitamin B12),Choline
RDI_val,900.0,90.0,20.0,15.0,120.0,1.2,1.3,16.0,5.0,1.7,30.0,400.0,2.4,550.0
RDI_unit,μg,mg,μg,mg,μg,mg,mg,mg,mg,mg,μg,μg,μg,mg

In [42]:
# transpose third table 
df3n = df3.set_index('Nutrient')
df3n

            RDI_val RDI_unit
Nutrient
Calcium      1300.0       mg
Chromium       35.0       μg
Copper        900.0       μg
Iodine        150.0       μg
Iron           18.0       mg
Magnesium     420.0       mg
Manganese       2.3       mg
Molybdenum     45.0       μg
Phosphorus   1250.0       mg
Selenium       55.0       μg
Zinc           11.0       mg
Potassium       4.7        g
Sodium          2.3        g
Chloride        2.3        g

In [43]:
# transpose third table

df3t = df3n.transpose()
df3t

Nutrient,Calcium,Chromium,Copper,Iodine,Iron,Magnesium,Manganese,Molybdenum,Phosphorus,Selenium,Zinc,Potassium,Sodium,Chloride
RDI_val,1300.0,35.0,900.0,150.0,18.0,420.0,2.3,45.0,1250.0,55.0,11.0,4.7,2.3,2.3
RDI_unit,mg,μg,μg,μg,mg,mg,mg,μg,mg,μg,mg,g,g,g

In [44]:
# Step 4 renaming columns, starting with first table 

varunit = dft[1:2]
varunit

Nutrient,Total fat,Saturated fatty acids,Cholesterol,Sodium,Potassium,Total carbohydrate,Added sugars,Dietary fiber,Protein
DV_unit,g,g,mg,mg,mg,mg,mg,mg,mg

In [45]:
b = varunit.iloc[0,:].apply(str).values
b

array([' g', ' g', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg'], dtype=object)

In [46]:
for i in b:
    print(i)

 g
 g
mg
mg
mg
mg
mg
mg
mg

In [47]:
# verifying current names
dft.columns

Index(['Total fat', 'Saturated fatty acids', 'Cholesterol', 'Sodium',
       'Potassium', 'Total carbohydrate', 'Added sugars', 'Dietary fiber',
       'Protein'],
      dtype='object', name='Nutrient')

In [48]:
# changing headers as they are too long 

dft.columns= ['Totfat', 'Satfat', 'Cholest', 'Sodium',
       'Potassium', 'Totcarb', 'Addsugar', 'fiber',
       'Protein']
dft

        Totfat Satfat Cholest  Sodium Potassium Totcarb Addsugar fiber Protein
DV_val    72.0   20.0   300.0  2300.0    3500.0   275.0     50.0  28.0    50.0
DV_unit      g      g      mg      mg        mg      mg       mg    mg      mg

In [49]:
# creating a prefix variable to identify these variables as from the data source of daily value


dfprefix = 'dv_'

In [50]:
# using a loop to create a new name and then upcasing the name (as I prefer this), using inplace = True is doing this 
# to the current dataframe

for (unit, col) in zip(b, dft.columns[0:]):
    dft.rename(columns={col:dfprefix.upper()+col.upper()+"_"+ unit.strip()},inplace=True)

In [51]:
# 2nd table - I know put this in a loop will be the next way to improve my skills 
varunit2 = df2t[1:2]
varunit2

Nutrient,Vitamin A,Ascorbic acid (vitamin C),Cholecalciferol (vitamin D),Tocopherol (vitamin E),Vitamin K,Thiamin (vitamin B1),Riboflavin (vitamin B2),Niacin (vitamin B3),Pantothenic acid (vitamin B5),Pyridoxine (vitamin B6),Biotin (vitamin B7),Folate (vitamin B9),Cobalamine (vitamin B12),Choline
RDI_unit,μg,mg,μg,mg,μg,mg,mg,mg,mg,mg,μg,μg,μg,mg

In [52]:
c = varunit2.iloc[0,:].apply(str).values
c

array(['μg', 'mg', 'μg', 'mg', 'μg', 'mg', 'mg', 'mg', 'mg', 'mg', 'μg',
       'μg', 'μg', 'mg'], dtype=object)

In [53]:
# what are the columns currently 
df2t.columns

Index(['Vitamin A', 'Ascorbic acid (vitamin C)', 'Cholecalciferol (vitamin D)',
       'Tocopherol (vitamin E)', 'Vitamin K', 'Thiamin (vitamin B1)',
       'Riboflavin (vitamin B2)', 'Niacin (vitamin B3)',
       'Pantothenic acid (vitamin B5)', 'Pyridoxine (vitamin B6)',
       'Biotin (vitamin B7)', 'Folate (vitamin B9)',
       'Cobalamine (vitamin B12)', 'Choline'],
      dtype='object', name='Nutrient')

In [54]:
# changing headers as they are too long 

df2t.columns= ['VitA', 'vitC', 'vitD',
       'vitE', 'VitK', 'vitB1',
       'vitB2', 'vitB3',
       'vitB5', 'vitB6',
       'vitB7', 'vitB9',
       'vitB12', 'Choline']
df2t

,VitA,vitC,vitD,vitE,VitK,vitB1,vitB2,vitB3,vitB5,vitB6,vitB7,vitB9,vitB12,Choline
RDI_val,900.0,90.0,20.0,15.0,120.0,1.2,1.3,16.0,5.0,1.7,30.0,400.0,2.4,550.0
RDI_unit,μg,mg,μg,mg,μg,mg,mg,mg,mg,mg,μg,μg,μg,mg

In [55]:
# using a loop to create a new name and then upcasing the name (as I prefer this), using inplace = True is doing this 
# to the current dataframe

for (unit, col) in zip(c, df2t.columns[0:]):
    df2t.rename(columns={col:dfprefix.upper()+col.upper()+"_"+ unit.strip()},inplace=True)

In [56]:
df2t

,DV_VITA_μg,DV_VITC_mg,DV_VITD_μg,DV_VITE_mg,DV_VITK_μg,DV_VITB1_mg,DV_VITB2_mg,DV_VITB3_mg,DV_VITB5_mg,DV_VITB6_mg,DV_VITB7_μg,DV_VITB9_μg,DV_VITB12_μg,DV_CHOLINE_mg
RDI_val,900.0,90.0,20.0,15.0,120.0,1.2,1.3,16.0,5.0,1.7,30.0,400.0,2.4,550.0
RDI_unit,μg,mg,μg,mg,μg,mg,mg,mg,mg,mg,μg,μg,μg,mg

In [57]:
# third table - taking out this strange xa0
varunit3 = df3t[1:2].replace('\xa0g', 'g')
varunit3

Nutrient,Calcium,Chromium,Copper,Iodine,Iron,Magnesium,Manganese,Molybdenum,Phosphorus,Selenium,Zinc,Potassium,Sodium,Chloride
RDI_unit,mg,μg,μg,μg,mg,mg,mg,μg,mg,μg,mg,g,g,g

In [58]:
d = varunit3.iloc[0,:].apply(str).values
d

array(['mg', 'μg', 'μg', 'μg', 'mg', 'mg', 'mg', 'μg', 'mg', 'μg', 'mg',
       ' g', ' g', 'g'], dtype=object)

In [59]:
# what are the columns currently 
df3t.columns

Index(['Calcium', 'Chromium', 'Copper', 'Iodine', 'Iron', 'Magnesium',
       'Manganese', 'Molybdenum', 'Phosphorus', 'Selenium', 'Zinc',
       'Potassium', 'Sodium', 'Chloride'],
      dtype='object', name='Nutrient')

In [60]:
# changing headers as they are too long 

df3t.columns= ['Calc', 'Chrom', 'Cop', 'Iodine', 'Iron', 'Magnes',
       'Mangan', 'Moly', 'Phosp', 'Selen', 'Zinc',
       'Potassium', 'MinSodium', 'Chloride']
df3t

,Calc,Chrom,Cop,Iodine,Iron,Magnes,Mangan,Moly,Phosp,Selen,Zinc,Potassium,MinSodium,Chloride
RDI_val,1300.0,35.0,900.0,150.0,18.0,420.0,2.3,45.0,1250.0,55.0,11.0,4.7,2.3,2.3
RDI_unit,mg,μg,μg,μg,mg,mg,mg,μg,mg,μg,mg,g,g,g

In [61]:
# using a loop to create a new name and then upcasing the name (as I prefer this), using inplace = True is doing this 
# to the current dataframe

for (unit, col) in zip(d, df3t.columns[0:]):
    df3t.rename(columns={col:dfprefix.upper()+col.upper()+"_"+ unit.strip()},inplace=True)

In [62]:
df3t

,DV_CALC_mg,DV_CHROM_μg,DV_COP_μg,DV_IODINE_μg,DV_IRON_mg,DV_MAGNES_mg,DV_MANGAN_mg,DV_MOLY_μg,DV_PHOSP_mg,DV_SELEN_μg,DV_ZINC_mg,DV_POTASSIUM_g,DV_MINSODIUM_g,DV_CHLORIDE_g
RDI_val,1300.0,35.0,900.0,150.0,18.0,420.0,2.3,45.0,1250.0,55.0,11.0,4.7,2.3,2.3
RDI_unit,mg,μg,μg,μg,mg,mg,mg,μg,mg,μg,mg,g,g,g

In [63]:
# Step 5 bring data together 
# this is the final data form for table 1 
dft1 = dft[:1]
dft1

,DV_TOTFAT_g,DV_SATFAT_g,DV_CHOLEST_mg,DV_SODIUM_mg,DV_POTASSIUM_mg,DV_TOTCARB_mg,DV_ADDSUGAR_mg,DV_FIBER_mg,DV_PROTEIN_mg
DV_val,72.0,20.0,300.0,2300.0,3500.0,275.0,50.0,28.0,50.0

In [64]:
df2t2 = df2t[:1]
df2t2

,DV_VITA_μg,DV_VITC_mg,DV_VITD_μg,DV_VITE_mg,DV_VITK_μg,DV_VITB1_mg,DV_VITB2_mg,DV_VITB3_mg,DV_VITB5_mg,DV_VITB6_mg,DV_VITB7_μg,DV_VITB9_μg,DV_VITB12_μg,DV_CHOLINE_mg
RDI_val,900.0,90.0,20.0,15.0,120.0,1.2,1.3,16.0,5.0,1.7,30.0,400.0,2.4,550.0

In [65]:
df3t3 = df3t[:1]
df3t3

,DV_CALC_mg,DV_CHROM_μg,DV_COP_μg,DV_IODINE_μg,DV_IRON_mg,DV_MAGNES_mg,DV_MANGAN_mg,DV_MOLY_μg,DV_PHOSP_mg,DV_SELEN_μg,DV_ZINC_mg,DV_POTASSIUM_g,DV_MINSODIUM_g,DV_CHLORIDE_g
RDI_val,1300.0,35.0,900.0,150.0,18.0,420.0,2.3,45.0,1250.0,55.0,11.0,4.7,2.3,2.3

In [66]:
# change index back to 1 for each table
dft1.rename(index={'DV_val':'1'},inplace=True)

C:\Users\kkooken\AppData\Local\Temp\ipykernel_9252\3524506494.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dft1.rename(index={'DV_val':'1'},inplace=True)

In [67]:
dft1

,DV_TOTFAT_g,DV_SATFAT_g,DV_CHOLEST_mg,DV_SODIUM_mg,DV_POTASSIUM_mg,DV_TOTCARB_mg,DV_ADDSUGAR_mg,DV_FIBER_mg,DV_PROTEIN_mg
1,72.0,20.0,300.0,2300.0,3500.0,275.0,50.0,28.0,50.0

In [68]:
# change index back to 1 for each table
df2t2.rename(index={'RDI_val':'1'},inplace=True)

C:\Users\kkooken\AppData\Local\Temp\ipykernel_9252\3904264177.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2t2.rename(index={'RDI_val':'1'},inplace=True)

In [69]:
df2t2

,DV_VITA_μg,DV_VITC_mg,DV_VITD_μg,DV_VITE_mg,DV_VITK_μg,DV_VITB1_mg,DV_VITB2_mg,DV_VITB3_mg,DV_VITB5_mg,DV_VITB6_mg,DV_VITB7_μg,DV_VITB9_μg,DV_VITB12_μg,DV_CHOLINE_mg
1,900.0,90.0,20.0,15.0,120.0,1.2,1.3,16.0,5.0,1.7,30.0,400.0,2.4,550.0

In [70]:
# change index back to 1 for each table
df3t3.rename(index={'RDI_val':'1'},inplace=True)

C:\Users\kkooken\AppData\Local\Temp\ipykernel_9252\1682800776.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3t3.rename(index={'RDI_val':'1'},inplace=True)

In [71]:
df3t3

,DV_CALC_mg,DV_CHROM_μg,DV_COP_μg,DV_IODINE_μg,DV_IRON_mg,DV_MAGNES_mg,DV_MANGAN_mg,DV_MOLY_μg,DV_PHOSP_mg,DV_SELEN_μg,DV_ZINC_mg,DV_POTASSIUM_g,DV_MINSODIUM_g,DV_CHLORIDE_g
1,1300.0,35.0,900.0,150.0,18.0,420.0,2.3,45.0,1250.0,55.0,11.0,4.7,2.3,2.3

In [72]:
# final data - this is the daily values which can be merged to any food items based on a 2000 calorie diet
fdv = pd.concat([dft1, df2t2, df3t3], axis=1)
fdv

,DV_TOTFAT_g,DV_SATFAT_g,DV_CHOLEST_mg,DV_SODIUM_mg,DV_POTASSIUM_mg,DV_TOTCARB_mg,DV_ADDSUGAR_mg,DV_FIBER_mg,DV_PROTEIN_mg,DV_VITA_μg,...,DV_IRON_mg,DV_MAGNES_mg,DV_MANGAN_mg,DV_MOLY_μg,DV_PHOSP_mg,DV_SELEN_μg,DV_ZINC_mg,DV_POTASSIUM_g,DV_MINSODIUM_g,DV_CHLORIDE_g
1,72.0,20.0,300.0,2300.0,3500.0,275.0,50.0,28.0,50.0,900.0,...,18.0,420.0,2.3,45.0,1250.0,55.0,11.0,4.7,2.3,2.3

In [73]:
# this is the merge key for this data to merge to the other nutritional data - the idea is that this 1 row is merged to all 
# rows in the resulting data - so that one would be able to assess the daily values for a variety of food items 

fdv["MRG_KEY"] = 1
fdv

,DV_TOTFAT_g,DV_SATFAT_g,DV_CHOLEST_mg,DV_SODIUM_mg,DV_POTASSIUM_mg,DV_TOTCARB_mg,DV_ADDSUGAR_mg,DV_FIBER_mg,DV_PROTEIN_mg,DV_VITA_μg,...,DV_MAGNES_mg,DV_MANGAN_mg,DV_MOLY_μg,DV_PHOSP_mg,DV_SELEN_μg,DV_ZINC_mg,DV_POTASSIUM_g,DV_MINSODIUM_g,DV_CHLORIDE_g,MRG_KEY
1,72.0,20.0,300.0,2300.0,3500.0,275.0,50.0,28.0,50.0,900.0,...,420.0,2.3,45.0,1250.0,55.0,11.0,4.7,2.3,2.3,1

Ethical considerations:
The Daily Value data is from a public web site and though Wikipedia is very popular, it is not a source for scientific information or monitored by the institutions that create daily nutrition value guidelines. As such, there could be misinformation that I could be inadvertently spreading because, though it would be good to double check the information, I haven’t yet planned to verify the information on wikipedia against a government site. 

Another ethical consideration is that, in general, food guidelines use a single value of 2000 calories as a way to speak to the whole population in terms of daily caloric intake – with an underlying assumption that we are all the same age, size, gender and same need in terms of caloric intake. It is unusual especially in that in many other aspects of our daily lives, we expect people to have a range of values (heart rate, blood pressure, there are many examples). But for some reason, daily calories are typically a single value and moreover, a single target that some may be considering when planning meals or how they approach food in general. However, in reality, people vary quite a bit on what is a healthy amount to eat and vary even more on exercise. An big ethical concern is adding to idea that you can use these nutrition guidelines effectively – when in fact, they themselves could be misleading and misrepresenting what is healthy for the population by not considering the variation of each individual. I think this is an important consideration. Likewise, when doing direct comparisons between foods and their nutritional daily value, I am expecting to do calculations to ensure I am making appropriate adjustments – any results would have to be double checked in order to ensure no error took place. 

Also, health information is constantly changing and, often times, improving. I believe these guidelines are current, but I am not update to date on what is the current message in terms of nutritional values and government recommendations.

In [74]:
fdv.to_csv(r'C:\Users\kkooken\Documents\EDU\540\finalproject\daily_web.csv', index=False)